@model Person
<p>Person information</p>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
         <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Age</td>
        </tr>

</table>


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
